---
layout: page
title: Kode Kitab
permalink: /kodekitab/
description: Kode Kitab is literally a code book, a place for me to write about the lessons I've learnt while writing code and grappling with engineering problems.
 You may call it a technical blog too, but I'm still figuring out how to write one.
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories contains 'kodekitab' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/kodekitabfeed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
